# IDE
.idea
.vscode

# Virtual environment
.venv

# Environment variables
*.env

# Data
dataset/images

# Experiment checkpoints and stuff
*.pt
*.pth
training/experiments/**/*.csv
training/experiments/**/*.png

# Tests
training/experiments/unet_large
training/experiments/unet_mid
training/experiments/unet_mid_ema
training/experiments/unet_test
assets/unet_large
assets/unet_mid_ema
assets/unet_mid